.App {
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
  text-align: left;
  background: #333;
  height: 100vh;
}

.header{
  display: flex;
  height: 4rem;
  width: 100vw;
  background: #3e9ac2;
  text-align: left;
  align-items: center;
  }
  .home{
    margin-left: 2rem;
  }

  .cardContainer{
    background: white;
    width: 90vw;
    padding-left: 3.5rem;
    margin: 5rem;
    margin-bottom: 0rem;
  }

  .cardIndex{
    text-align: right;
    margin-right: 1rem;
    line-height: 0%;
  }
  .nameDisplay{
    text-decoration: underline;
    text-decoration-color: #3e9ac2;
  }
  .buttons{
    display: inline-flex;
    justify-content: space-between;
    color: #FFF;
    width: 90vw;
    margin-left: 5rem;
    margin-right: 5rem;
  }
